form label.required:after {
    content: '*';
    color: #e04f1a;
    padding-left: 5px;
}
.bigdrop {
    width: 100% !important;
}
.left-border {
    border-right: 1px dashed #333;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:10px;
  }

.no-bullets{
    list-style-type: none;
}
.border-light-gray{
    border : 1px solid lightgray;
    width:200px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #38a169 !important;
}